[submodule "external/MultiCommentViewer"]
	path = external/MultiCommentViewer
	url = https://github.com/DaisukeDaisuke/MultiCommentViewer
	ignore = all
[submodule "external/mediabunny"]
	path = external/mediabunny
	url = https://github.com/Vanilagy/mediabunny
	ignore = all
